@font-face {
	font-family: Inter;
	src: url('@/assets/Inter-VariableFont_opsz,wght.ttf');
}

@mixin headline-3 {
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
}

@mixin headline-4 {
	font-size: 13px;
	line-height: 18px;
	font-weight: 700;
}
@mixin headline-5 {
	font-size: 10px;
	line-height: 12px;
	font-weight: 700;
	text-transform: uppercase;
}

@mixin body-medium {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
}
@mixin body-small {
	font-size: 11px;
	line-height: 16px;
	font-weight: 400;
}

$gray-light: #e7e7e7;
$gray-medium: #9d9da0;
$gray-dark: #24242b;

.custom-scrollbar {
	overflow-y: auto;
	cursor: pointer;
	/* Firefox */
	@-moz-document url-prefix() {
		scrollbar-width: thin;
		scrollbar-color: $gray-medium $gray-light;

		&:hover {
			scrollbar-color: $gray-dark $gray-light;
		}
	}
	/* Chrome, Edge, Safari */
	&::-webkit-scrollbar {
		width: 8px; /* vertical scrollbar */
		height: 4px; /* horizontal scrollbar */
	}

	&::-webkit-scrollbar-track {
		background: $gray-light;
	}

	&::-webkit-scrollbar-thumb {
		background: $gray-medium;
		border-radius: 6px;
		border: none;

		&:hover {
			background: $gray-dark;
		}
	}
}

@mixin shadow-light {
	box-shadow: 0 5px 12px 0 rgba(0,0,0,0.3), 0 1px 3px 0 rgba(0,0,0,0.5), 0 0 0.5px 0 rgba(0,0,0,0.7), inset 0 0 1px 0 rgba(255,255,255,0.2), inset 0 0.25px 0 0.25px rgba(255,255,255,0.2);
}
